.qmake.stash
Makefile
*.log

lib/Makefile*
lib/obj/
lib/moc/
lib/rcc/
lib/ui/
lib/debug/
lib/release/

demo/Makefile*
demo/obj/
demo/moc/
demo/rcc/
demo/ui/
demo/debug/
demo/release/

prebuilt/
standalone-mingw/bin/
standalone-mingw/lib/
standalone-mingw/*.log
ffmpeg-frame-*.png
qt-*.png
